<!DOCTYPE html>
<html lang = "ja">
{% load static %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">	
        <title>TERRACE CAKE STUDIO</title>
        <link rel="stylesheet" href="{% static 'shop/css/sidebar.css' %}">
        <link rel="stylesheet" href="{% static 'shop/css/reset.css' %}">
    </head>
    <body>
        <main class="sidebar">
            <div class="intro-cont">
                <h1>INTRO</h1>
                <img class="intro-image" src="{% static 'shop/images/profile.png' %}">
                <div class="introduce">
                    <a>サロンスタイルのケーキ教室を開いてます。<br></a>
                    <a>子どもたちの小さい頃より、手作りのものを食べさせたいとの思いからお菓子、パン、料理教室に通い様々な所で学んできました。<br></a>
                    <a>美味しい情報をお教室に通って下さる皆様にお伝えし多岐にわたり、今なお勉強を続けています。<br></a>
                    <a>サロン専用のプライベートハウスですので日常を忘れて楽しくレッスンして頂けます。</a>
                </div>
            </div>
        </main>
    </body>
</html>